.products {
  width: 100%;
  /* text-align: center; */
  transition: all 0.5s ease-in-out;
  padding: 5em;
}
.no {
  margin: 50px auto;
  text-align: center;
}
.products:dir(ltr) {
  float: right;
}
.products:dir(rtl) {
  float: left;
}
.products.open {
  width: calc(100% - 200px);
}
