.search {
  display: flex;
  justify-content: space-between;
}
.left {
  background-color: var(--background-secondary);
  width: 30%;
  height: 100%;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.category > div {
  padding: 0.5em;
}
.category a {
  display: block;
  padding: 0.5em 1em;
}
.category a:hover {
  background-color: var(--background-hover);
}
.search hr {
  color: rgba(176, 169, 161, 0.32);
}
.size > div {
  padding: 0.5em;
}
.size section {
  padding: 0 1em;
}
.size a {
  display: block;
  padding: 0.5em;
  position: relative;
  margin-left: 1em;
}
/* .size a:hover a::before{background-color: aqua;} */
.size a::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  position: absolute;
  left: -15px;
}
.price {
  padding: 0 1em;
}
.price > div:first-child {
  padding: 0.5em;
  margin-bottom: 1em;
}
.right {
  /* background-color: seashell; */
  width: 65%;
}
.right .sort div {
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.right .sort div:hover {
  color: rgb(58, 155, 155);
}
.right .sort svg {
  padding: 0.1em;
}
.right .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.right .view a {
  margin-left: 1em;
}
.right .view a:hover {
  background-color: orange;
}
