.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 230px !important;
}
.card svg {
  font-size: 4em;
}
.card svg path {
  stroke-width: 1%;
}
.card .text {
  color: #8c8692;
}
.card .number {
  color: #663399;
  font-size: 24px;
}
