.form{display: flex;padding: 1vh;}
.form .search{
    padding: 2vh;
    position: relative;
    background-color: var(--background-secondary);
    border-radius: 30px;
    /* display: flex;
    align-items: center; */
}
.search input{
    height: 100%;
    padding-left: 10px;
    background-color: var(--background-secondary);
    /* font-size: 18px; */
}
.search span{cursor: pointer;}
.search .products{
    position: absolute;
    background-color: var(--background-secondary);
    width: 100%;
    left: 0;
}
.search .products a{
    display: block;
    padding: 2vh;
    cursor: pointer;
}
.search .products a:hover{
    background-color: var(--background-hover);
}
.form .button{
    padding: 2vh;
    color: #fff;
    background-color: #f68b1e;
    cursor: pointer;
    margin-left: 1em;
    border: none;
    border-radius: 4px;
}